* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url('./images/img-2.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-3.jpeg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-7.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpeg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.header-container {
 /* border: 2px solid rgb(255, 0, 0);*/
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px ;
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ), url(./images/header-img-2.jpeg);
  background-position: center;
  background-size: cover;
}
.box1 {
  /*border: 2px solid rgb(255, 0, 0);*/
  width: 100%;
  height: 500px;
  padding: 20px 0 20px 0;
}
.box2 {
  /*border: 12px solid #1888ff;*/
  width: 100%;
  height: 500px;
  margin-left: 100px;
  border-radius: 50% 50% 0 0 ;
 
}
.box1 .first-p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.box1 h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
.box1 .second-p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(235, 235, 235);
} 

/* main section */

.main-contianer {
  width: 100%;
  height: 650vh;
  /*border: 2px solid #000;*/
  position: relative;
  background: rgba(236, 236, 236, 0.096);
}
.first-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: -6.2rem;
  display: flex;
  justify-content: center;
  padding: 0 100px;
  /*border: 2px solid #000;*/
}
.first-container .box-1 {
  width: 100%;
  height: 100%;
  /*border: 2px solid rgb(0, 0, 0);*/
}
.first-container .qpp-npf-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.first-container .box-2 {
  width: 70%;
  height: 650px;
  /*border: 2px solid rgb(54, 218, 5);*/
  margin-left: 50px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow:    0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  box-shadow:         0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
}
.first-container .qpp-npf-container .qpp {
  width: 100%;
  height: 100px;
  background: #3ea176;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.first-container .qpp-npf-container .npf {
  width: 100%;
  height: 100px;
  margin-left: 20px;
  background: #3ea176;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.first-container .qpp-npf-container .qpp i{
  font-size: 30px;
}
.first-container .qpp-npf-container .npf i {
  font-size: 30px;
}

.first-container .text-container {
  /*border: 2px solid darkorchid;*/
  width: 100%;
  height: 600px;
  padding: 100px 60px 30px 0;
}
.first-container .text-container .first-p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #999;
}
.first-container .text-container h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
.first-container .text-container .second-p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(88, 88, 88);
} 
.first-container .box-2 .header {
  background: #3ea176;
  border-radius: 5px 5px 0 0;
  color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.first-container .box-2 .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.first-container .box-2 .body a {
  text-decoration: none;
  padding: 16px 70px;
  font-size: 20px;
  background: #3ea176;
  color: #fff;
  border-radius: 7px;
}
.offer-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 40rem;
  padding: 100px;
  text-align: center;
}

.offer-container .header-text {
  /*border: 2px solid rgb(0, 0, 0);*/
  width: 100%;
  height: auto;
}
.offer-container .cards-container {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-top: 50px;
}
.offer-container .cards-container .card1 {
  width: 100%;
  height: 500px;
  border-radius: 7px;
  background: #fff;
}
.offer-container .cards-container .card2{
  width: 100%;
  height: 500px;
  border-radius: 7px;
  background: #fff;
}
.offer-container .cards-container .card3 {
  width: 100%;
  height: 500px;
  border-radius: 7px;
  background: #fff;
}
.offer-container .header-text .p1{
  color: rgb(105, 105, 105);
}
.offer-container .header-text h1 {
  font-size: 40px;
}
.offer-container .header-text .p2{
  color: rgb(61, 61, 61);
  font-size: 20px;
  margin-top: 1.5rem;
  line-height: 32px;
}
.offer-container .cards-container .card1 .image {
  width: 100%;
  height: 250px;
  background-image: url(./images/loan.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 7px 7px 0 0;
}
.offer-container .cards-container .card2 .image {
  width: 100%;
  height: 250px;
  background-image: url(./images/savings.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 7px 7px 0 0;
}
.offer-container .cards-container .card3 .image {
  width: 100%;
  height: 250px;
  background-image: url(./images/invest.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 7px 7px 0 0;
}
.offer-container .cards-container .card1 .image-text {
  width: 100%;
  height: 250px;
  padding: 30px;
}
.offer-container .cards-container .card1 .image-text .cl-loan-header {
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.offer-container .cards-container .card1 .image-text .cl-loan-text {
  text-align: left;
  font-size: 17px;
  margin-top: 1.5rem;
  line-height: 28px;
  color: rgb(75, 75, 75);
}
.offer-container .cards-container .card2 .image-text {
  width: 100%;
  height: 250px;
  padding: 30px;
}
.offer-container .cards-container .card2 .image-text .cl-savings-header {
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.offer-container .cards-container .card2 .image-text .cl-savings-text {
  text-align: left;
  font-size: 17px;
  margin-top: 1.5rem;
  line-height: 28px;
  color: rgb(75, 75, 75);
}
.offer-container .cards-container .card3 .image-text {
  width: 100%;
  height: 250px;
  padding: 30px;
}
.offer-container .cards-container .card3 .image-text .cl-investment-header {
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.offer-container .cards-container .card3 .image-text .cl-investment-text {
  text-align: left;
  font-size: 17px;
  margin-top: 1.5rem;
  line-height: 28px;
  color: rgba(75, 75, 75, 0.507);
}


.about-container {
  width: 100%;
  height: auto;
  position: absolute;
  top:98rem;
  padding: 100px;
  background: #6b6b6b09;
}

.about-container .about-sec1 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.about-container .about-sec2 {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: center;align-items: center;
}

.about-container .about-sec1 .about-intro-1{
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.about-container .about-sec1 .about-intro-2 {
  width: 100%;
  height: auto;
  margin-left: 50px;
  padding: 20px;
}
.about-container .about-sec1 .about-intro-1 .intro-p{
   color: #3ea176;
   font-size: 20px;
}
.about-container .about-sec1 .about-intro-1 h1{
  margin-top: 1.5rem;
  font-size: 45px;
}
.about-container .about-sec1 .about-intro-2 p{
  font-size: 18.5px;
  line-height: 30px;
  color: rgb(43, 43, 43);
}
.about-container .about-sec2 .card1 {
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
}
.about-container .about-sec2 .card1 p {
  font-size: 20px;
  margin-left: 20px;
}
.about-container .about-sec2 .card2 p {
  font-size: 20px;
  margin-left: 20px;
}
.about-container .about-sec2 .card3 p {
  font-size: 20px;
  margin-left: 20px;
}
.about-container .about-sec2 .card2 {
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
}
.about-container .about-sec2 .card3 {
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
}





.why-choose-container {
  /*border: 2px solid rgb(255, 0, 0);*/
  width: 100%;
  height: auto;
  position: absolute;
  top: 142rem;
  padding: 100px;
}
.why-choose-container .wcu1 {
  /*border: 2px solid rgb(0, 0, 0);*/
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
.why-choose-container .wcu2 {
  border: 2px solid rgb(0, 0, 0);
  width: 100%;
  height: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  border: 2px solid red;
}

.why-choose-container .wcu1 .leftbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-choose-container .wcu1 .rightbox {
    width: 100%;
    height: 100%;
    margin-left: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-choose-container .wcu1 .rightbox p {
  margin-top: 2rem;
  font-size: 18px;
  color: rgb(59, 59, 59);
  line-height: 30px;
}

.why-choose-container .wcu1  .leftbox .img1 {
    background-image: url("https://images.pexels.com/photos/8292805/pexels-photo-8292805.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    position: relative;
}
.why-choose-container .wcu1 .leftbox .img2 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    left: -3rem;
    top: -3rem;
    z-index: -1;
    
}

.why-choose-container .wcu1 .leftbox .img3 {
    /*background-image: url("https://images.unsplash.com/photo-1562088287-bde35a1ea917?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    right: -3rem;
    top: -3rem;
    z-index: -1;
}

.why-choose-container .wcu1 .leftbox .img4 {
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -3rem;
    left: -3rem;
    z-index: -1;
}
.why-choose-container .wcu1 .leftbox .img5 {
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -3rem;
    right: -3rem;
    z-index: -1;
}






/* second role */


.why-choose-container .wcu2 .leftbox {
  width: 100%;
  height: 765px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}
.why-choose-container .wcu2 .rightbox {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid blue;
  margin-right: 50px;
  padding: 50px 0;
}
.why-choose-container .wcu2 .rightbox .container1 {
  border: 2px solid #000;
  width: 470px;
  height: 200px;
  margin: 0 auto;
}
.why-choose-container .wcu2 .rightbox .container2 {
  border: 2px solid #000;
  width: 470px;
  height: 200px;
  margin: 30px auto;
}
.why-choose-container .wcu2 .rightbox .container3 {
  border: 2px solid #000;
  width: 470px;
  height: 200px;
  margin: 0 auto;
}

.why-choose-container .wcu2  .leftbox .img1 {
  background-image: url("https://images.pexels.com/photos/8292805/pexels-photo-8292805.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  position: relative;
}
.why-choose-container .wcu2 .leftbox .img2 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  left: -3rem;
  top: -3rem;
  z-index: -1;
  
}

.why-choose-container .wcu2 .leftbox .img3 {
  /*background-image: url("https://images.unsplash.com/photo-1562088287-bde35a1ea917?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  right: -3rem;
  top: -3rem;
  z-index: -1;
}

.why-choose-container .wcu2 .leftbox .img4 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -3rem;
  left: -3rem;
  z-index: -1;
}
.why-choose-container .wcu2 .leftbox .img5 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -3rem;
  right: -3rem;
  z-index: -1;
}



/* footer */
.footer {
  background: #000000;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
}



