* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.sign-up {
  background-image: url('./images/img-7.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpeg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



.header-container {
 /* border: 2px solid rgb(255, 0, 0);*/
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px ;
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ), url(./images/header-img-2.jpeg);
  background-position: center;
  background-size: cover;
}
.box1 {
  /*border: 2px solid rgb(255, 0, 0);*/
  width: 100%;
  height: 500px;
  padding: 20px 0 20px 0;
}
.box2 {
  /*border: 12px solid #1888ff;*/
  width: 100%;
  height: 500px;
  margin-left: 100px;
  border-radius: 50% 50% 0 0 ;
 
}
.box1 .first-p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.box1 h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
.box1 .second-p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(235, 235, 235);
} 

/* main section */

.main-contianer {
  width: 100%;
  position: relative;
  background: rgba(236, 236, 236, 0.096);
}
.first-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: -6.2rem;
  display: flex;
  justify-content: center;
  padding: 0 100px;
  /*border: 2px solid #000;*/
}
.first-container .box-1 {
  width: 100%;
  height: 100%;
  /*border: 2px solid rgb(0, 0, 0);*/
}
.first-container .qpp-npf-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.first-container .box-2 {
  width: 70%;
  height: 650px;
  /*border: 2px solid rgb(54, 218, 5);*/
  margin-left: 50px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  -moz-box-shadow:    0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  box-shadow:         0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
}
.first-container .qpp-npf-container .qpp {
  width: 100%;
  height: 100px;
  background: #3ea176;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.first-container .qpp-npf-container .npf {
  width: 100%;
  height: 100px;
  margin-left: 20px;
  background: #3ea176;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.first-container .qpp-npf-container .qpp i{
  font-size: 30px;
}
.first-container .qpp-npf-container .npf i {
  font-size: 30px;
}

.first-container .text-container {
  /*border: 2px solid darkorchid;*/
  width: 100%;
  height: 600px;
  padding: 100px 60px 30px 0;
}
.first-container .text-container .first-p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #999;
}
.first-container .text-container h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
.first-container .text-container .second-p {
  font-size: 18px;
  line-height: 30px;
  color: rgb(88, 88, 88);
} 
.first-container .box-2 .header {
  background: #3ea176;
  border-radius: 5px 5px 0 0;
  color: #fff;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.first-container .box-2 .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.first-container .box-2 .body a {
  text-decoration: none;
  padding: 16px 70px;
  font-size: 20px;
  background: #3ea176;
  color: #fff;
  border-radius: 7px;
}
.offer-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 45rem;
  padding: 100px;
  text-align: center;
}

.offer-container .header-text {
  /*border: 2px solid rgb(0, 0, 0);*/
  width: 100%;
  height: auto;
}
.offer-container .cards-container {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-top: 50px;
}
.offer-container .cards-container .card1 {
  width: 100%;
  height: 500px;
  border-radius: 7px;
  background: #fff;
}
.offer-container .cards-container .card2{
  width: 100%;
  height: 500px;
  border-radius: 7px;
  background: #fff;
}
.offer-container .cards-container .card3 {
  width: 100%;
  height: 500px;
  border-radius: 7px;
  background: #fff;
}
.offer-container .header-text .p1{
  color: rgb(105, 105, 105);
  position: relative;
  padding: 20px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
/* bottom line */
.offer-container .header-text .p1::after {
  content:'';
  position: absolute;
  background-color: #3ea176;
  width: 3px;
  height: 60%;
  top: 0;
  left:-5px;
}
/* top line */
.offer-container .header-text .p1::before {
  content:'';
  position: absolute;
  background-color: #3ea176;
  width: 20%;
  height: 3px;
  top: 0;
  left:-5px;
 
}


.offer-container .header-text h1 {
  font-size: 40px;
}
.offer-container .header-text .p2{
  color: rgb(61, 61, 61);
  font-size: 20px;
  margin-top: 1.5rem;
  line-height: 32px;
}
.offer-container .cards-container .card1 .image {
  width: 100%;
  height: 250px;
  background-image: url(./images/loan.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 7px 7px 0 0;
}
.offer-container .cards-container .card2 .image {
  width: 100%;
  height: 250px;
  background-image: url(./images/savings.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 7px 7px 0 0;
}
.offer-container .cards-container .card3 .image {
  width: 100%;
  height: 250px;
  background-image: url(./images/invest.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 7px 7px 0 0;
}
.offer-container .cards-container .card1 .image-text {
  width: 100%;
  height: 250px;
  padding: 30px;
}
.offer-container .cards-container .card1 .image-text .cl-loan-header {
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.offer-container .cards-container .card1 .image-text .cl-loan-text {
  text-align: left;
  font-size: 17px;
  margin-top: 1.5rem;
  line-height: 28px;
  color: rgb(75, 75, 75);
}
.offer-container .cards-container .card2 .image-text {
  width: 100%;
  height: 250px;
  padding: 30px;
}
.offer-container .cards-container .card2 .image-text .cl-savings-header {
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.offer-container .cards-container .card2 .image-text .cl-savings-text {
  text-align: left;
  font-size: 17px;
  margin-top: 1.5rem;
  line-height: 28px;
  color: rgb(75, 75, 75);
}
.offer-container .cards-container .card3 .image-text {
  width: 100%;
  height: 250px;
  padding: 30px;
}
.offer-container .cards-container .card3 .image-text .cl-investment-header {
  text-align: left;
  font-size: 25px;
  font-weight: 900;
}
.offer-container .cards-container .card3 .image-text .cl-investment-text {
  text-align: left;
  font-size: 17px;
  margin-top: 1.5rem;
  line-height: 28px;
  color: rgba(75, 75, 75, 0.507);
}


.about-container {
  width: 100%;
  height: auto;
  position: absolute;
  top:110rem;
  padding: 100px;
  background: #6b6b6b09;
}

.about-container .about-sec1 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

.about-container .about-sec2 {
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-content: center;align-items: center;
}

.about-container .about-sec1 .about-intro-1{
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.about-container .about-sec1 .about-intro-2 {
  width: 100%;
  height: auto;
  margin-left: 50px;
  padding: 20px;
}
.about-container .about-sec1 .about-intro-1 .intro-p{
   color: #3ea176;
   font-size: 20px;
}
.about-container .about-sec1 .about-intro-1 h1{
  margin-top: 1.5rem;
  font-size: 45px;
}
.about-container .about-sec1 .about-intro-2 p{
  font-size: 18.5px;
  line-height: 30px;
  color: rgb(43, 43, 43);
}
.about-container .about-sec2 .card1 {
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
}
.about-container .about-sec2 .card1 p {
  font-size: 20px;
  margin-left: 20px;
}
.about-container .about-sec2 .card2 p {
  font-size: 20px;
  margin-left: 20px;
}
.about-container .about-sec2 .card3 p {
  font-size: 20px;
  margin-left: 20px;
}
.about-container .about-sec2 .card2 {
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
  -webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
  -moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
}
.about-container .about-sec2 .card3 {
  width: 100%;
  height: 150px;
  border-radius: 7px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-webkit-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
-moz-box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.267);
}





.why-choose-container {
  /*border: 2px solid rgb(255, 0, 0);*/
  width: 100%;
  height: auto;
  position: absolute;
  top: 153rem;
  padding: 100px;
}
.why-choose-container .wcu1 {
  /*border: 2px solid rgb(0, 0, 0);*/
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
.why-choose-container .wcu2 {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.why-choose-container .wcu1 .leftbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-choose-container .wcu1 .rightbox {
    width: 100%;
    height: 100%;
    margin-left: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-choose-container .wcu1 .rightbox p {
  margin-top: 2rem;
  font-size: 18px;
  color: rgb(59, 59, 59);
  line-height: 30px;
}

.why-choose-container .wcu1  .leftbox .img1 {
    background-image: url(./images/meeting-with-client.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    position: relative;
}
.why-choose-container .wcu1 .leftbox .img2 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    left: -3rem;
    top: -3rem;
    z-index: -1;
    
}

.why-choose-container .wcu1 .leftbox .img3 {
    /*background-image: url("https://images.unsplash.com/photo-1562088287-bde35a1ea917?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    right: -3rem;
    top: -3rem;
    z-index: -1;
}

.why-choose-container .wcu1 .leftbox .img4 {
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -3rem;
    left: -3rem;
    z-index: -1;
}
.why-choose-container .wcu1 .leftbox .img5 {
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -3rem;
    right: -3rem;
    z-index: -1;
}






/* second role */


.why-choose-container .wcu2 .leftbox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-container .wcu2 .rightbox {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-right: 50px;
  padding: 50px 0;
}
.why-choose-container .wcu2 .rightbox .container1 {
  width: 470px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-container .wcu2 .rightbox .container1 .num1 , 
.why-choose-container .wcu2 .rightbox .container2 .num2,
.why-choose-container .wcu2 .rightbox .container3 .num3  {
  color: #3ea176;
  font-size: 25px;
  margin-right: 30px;
  font-weight: bold;
  background: #3ea1763b;
  padding: 15px;
  border-radius: 50%;
  margin-top: -4.5rem;
}
.why-choose-container .wcu2 .rightbox .container1 .header {
  font-weight: 900;
  font-size: 20px;
}
.why-choose-container .wcu2 .rightbox .container1 .text {
  font-size: 17px;
  color:rgb(77, 77, 77);
  margin-top: 0.6rem;
  line-height: 30px;
}
.why-choose-container .wcu2 .rightbox .container2 {
  width: 470px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-container .wcu2 .rightbox .container2 .header {
  font-weight: 900;
  font-size: 20px;
}
.why-choose-container .wcu2 .rightbox .container2 .text {
  font-size: 17px;
  color:rgb(77, 77, 77);
  margin-top: 0.6rem;
  line-height: 30px;
}
.why-choose-container .wcu2 .rightbox .container3 {
  width: 470px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-container .wcu2 .rightbox .container3 .header {
  font-weight: 900;
  font-size: 20px;
}
.why-choose-container .wcu2 .rightbox .container3 .text {
  font-size: 17px;
  color:rgb(77, 77, 77);
  margin-top: 0.6rem;
  line-height: 30px;
}

.why-choose-container .wcu2  .leftbox .img1 {
  background-image: url(./images/woman-smiling.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  position: relative;
}
.why-choose-container .wcu2 .leftbox .img2 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  left: -3rem;
  top: -3rem;
  z-index: -1;
  
}

.why-choose-container .wcu2 .leftbox .img3 {
  /*background-image: url("https://images.unsplash.com/photo-1562088287-bde35a1ea917?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  right: -3rem;
  top: -3rem;
  z-index: -1;
}

.why-choose-container .wcu2 .leftbox .img4 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -3rem;
  left: -3rem;
  z-index: -1;
}
.why-choose-container .wcu2 .leftbox .img5 {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233ea176' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -3rem;
  right: -3rem;
  z-index: -1;
}


/* faq section */
.faq-container {
  width: 100%;
  height: auto;
}
.faq-container .header-container {
  width: 100%;
  height: 300px;
  background: #3ea176;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.829), 
      rgba(0, 0, 0, 0.829)
    ), url(./images/faq-header.jpeg);
  background-position: center;
  background-size: cover;
}
.faq-container .header-intro {
  font-size: 25px;
  color: rgb(233, 233, 233);
  position: absolute;
  top: 15.5rem;
  left: 1rem;
}
.faq-container .header-container .faq-header {
  font-size: 250px;
  color: rgba(255, 255, 255, 0.055);
  position: relative;
}
.faq-container .header-container .faq-q {
  font-size: 250px;
  color: rgba(255, 255, 255, 0.055);
}
.faq-container .faq-main-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 300px 100px;
  background: rgba(153, 153, 153, 0.123);
  position: relative;
}
.faq-container .faq-main-container .question1 {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 40px;
}
.faq-container .faq-main-container .question2 {
  width: 100%;
  height: auto;
 /* border: 2px solid rgb(0, 0, 0);*/
  background: transparent;
  margin-left: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.faq-container .faq-main-container .question2 h1 {
  color: #3ea176;
  border: 10px solid #3ea176;
  padding: 100px 50px;
  background: #fff;
}

.faq-container .faq-main-container .question2 a {
  text-decoration: none;
  border: 2px solid #3ea176;
  padding: 15px 50px;
  color: #fff;
  background: #3ea176;
  border-radius: 7px;
  font-size: 18px;
}

.faq-container .faq-main-container .question1 .text1 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.219);
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.faq-container .faq-main-container .question1 .text1 .head-text ,
.faq-container .faq-main-container .question1 .text2 .head-text,
.faq-container .faq-main-container .question1 .text3 .head-text,
.faq-container .faq-main-container .question1 .text4 .head-text,
.faq-container .faq-main-container .question1 .text5 .head-text,
.faq-container .faq-main-container .question1 .text6 .head-text,
.faq-container .faq-main-container .question1 .text7 .head-text {
  font-size: 18px;
}
.faq-container .faq-main-container .question1 .text1 .body-text,
.faq-container .faq-main-container .question1 .text2 .body-text,
.faq-container .faq-main-container .question1 .text3 .body-text,
.faq-container .faq-main-container .question1 .text4 .body-text,
.faq-container .faq-main-container .question1 .text5 .body-text,
.faq-container .faq-main-container .question1 .text6 .body-text,
.faq-container .faq-main-container .question1 .text7 .body-text {
  font-size: 17px;
  color: rgb(85, 85, 85);
  margin-top: 1rem;
  line-height: 30px;
  display: none;
}
.faq-container .faq-main-container .question1 .text2 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.219);
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.faq-container .faq-main-container .question1 .text3 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.219);
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.faq-container .faq-main-container .question1 .text4 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.219);
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.faq-container .faq-main-container .question1 .text5 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.219);
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.faq-container .faq-main-container .question1 .text6 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.219);
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.faq-container .faq-main-container .question1 .text7 {
  width: 100%;
  height: auto;
  padding: 30px 0;
}




/* contact us section */

.contact-us-container {
 /* background: #3ea176;*/
  width: 100%;
  height: 200vh;
  display: flex;
  padding-right: 50px;
}
.contact-us-container .side1 {
  width: 1200px;
  height: 950px;
}
.contact-us-container .side1 .img {
  width: 100%;
  height: 600px;
  background: 
  /* top, transparent red, faked with gradient */ 
  linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),
  /* bottom, image */
  url("https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
.contact-us-container .side1 .contacts {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid rgba(153, 153, 153, 0.158);
}
.contact-us-container .side2 {
  width: 600px;
  height: 800px;
  margin-left: 50px;
  padding: 100px 20px 0 20px;
}
.contact-us-container .side2 .form-headers {
  width: 100%;
  height: auto;
}
.contact-us-container .side2 .form-headers p {
  color: rgb(100, 100, 100);
  font-size: 16px;
  margin-top: 1.3rem;
  line-height: 30px;
}
.contact-us-container .side2 form {
  margin-top: 3rem;
}
.contact-us-container .side2 form input {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(153, 153, 153, 0.377);
  outline: none;
}
.contact-us-container .side2 form .message {
  padding-bottom: 40px;
}
::placeholder {
  color: rgb(131, 131, 131);
}
.contact-us-container .side2 form a {
  text-decoration: none;
  padding: 15px 30px;
  background: #3ea176;
  color: #fff;
  font-size: 16.5px;
  border-radius: 7px;
}

.contact-us-container .side1 .b1 {
  width: 100%;
  height: auto;
  padding: 40px;
}
.contact-us-container .side1 .b1 .b1-second .headers {
  color: rgba(104, 104, 104, 0.568);
  font-size: 18px;
}
.b1-second , .b2-second, .b3-second{
  margin-top: 3rem;
}
.contact-us-container .side1 .b1 .b1-second p {
  font-size: 17px;
}
.contact-us-container .side1 .b2 {
  width: 100%;
  height: auto;
  padding: 40px;
  border-right: 1px solid rgba(153, 153, 153, 0.158);
  border-left: 1px solid rgba(153, 153, 153, 0.158);
}
.contact-us-container .side1 .b2 .b2-second .headers {
  color: rgba(104, 104, 104, 0.568);
  font-size: 18px;
}
.contact-us-container .side1 .b2 .b2-second p {
  font-size: 17px;
}
.contact-us-container .side1 .b3 {
  width: 100%;
  height: auto;
  padding: 40px;
}
.contact-us-container .side1 .b3 .b3-second .headers {
  color: rgba(104, 104, 104, 0.568);
  font-size: 18px;
}
.contact-us-container .side1 .b3 .b3-second p {
  font-size: 17px;
}



/* login */

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-container2 form input {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #3ea176;
  font-size: 16px;
  outline: none;
}
.login-container .login-container2 .fpass-sign-in-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container .login-container2 .dhac {
  text-align: center;
  margin-top: 3.5rem;
}
.login-container .login-container2 .dhac a {
  color: #3ea176;
}
.login-container .login-container2 .sign-in {
  text-decoration: none;
  padding: 7px 30px;
  color: #fff;
  background: #3ea176;
  border-radius: 7px;
}
.login-container .login-container2 .fpassword {
  font-size: 14px;
  color: #3ea176;
}
.login-container .login-container2 .header-intro h1 {
  text-align: center;
}
.login-container .login-container2 .header-intro p {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}





















/* footer */
.footer {
  background: #000000;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 250rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
}
.footer .copyright {
  color: #fff;
}
.footer .powered {
  color: #fff;
}
.footer .powered span {
  color: #3ea176;
}

/* footer */
.footer-faq{
  background: #000000;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
}
.footer-faq .copyright{
  color: #fff;
}
.footer-faq .powered{
  color: #fff;
}
.footer-faq .powered span  {
  color: #3ea176;
}

/* footer */
.footer-contact{
  background: #000000;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 79rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
}
 .footer-contact .copyright {
  color: #fff;
}
.footer-contact .powered {
  color: #fff;
}
.footer-contact .powered span {
  color: #3ea176;
}





